@model IEnumerable<Produccion.Data.Entities.Garment>

@{
    ViewData["Title"] = "Index";
}

<h1>Prendas</h1>

<p>
    <a asp-action="Create">Agregar Nueva Prenda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumoInvUnd)
            </th>
            <th>
                Unidades
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumoInvUnd)
            </td>
            <td>
                Mts
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
