@model IEnumerable<Produccion.Data.Entities.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="fa-solid fa-cart-flatbed"></i> Inventario</h1>

<p>
    <a asp-action="AddInventory" class="btn btn-dark mb-2" style="float:right ">Agregar Inventario <i class="fa-solid fa-circle-plus"></i> </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Fabric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Unidades
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.Fabric.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.Color.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                Mts
            </td>
        </tr>
}
    </tbody>
</table>
