@model Produccion.Data.Entities.Inventory

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Fabric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Unidades
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.RawMaterial.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.RawMaterial.Fabric.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.RawMaterial.Color.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Cantidad)
            </td>
            <td>
                Mts
            </td>

        </tr>

    </tbody>
</table>
