@model IEnumerable<Produccion.Data.Entities.ProductionOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Ordenes de producción</h1>

<p>
    <a asp-action="Create">Agregar nueva orden</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Fabric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garment.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidades)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.Fabric.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.Color.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garment.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidades)
            </td>
        </tr>
}
    </tbody>
</table>
